body 						{ padding-top: 60px; padding-bottom: 20px; background-color: gray !important; }
.sidebar-nav 				{ padding: 2px 0;}

@font-face {
	font-family: Title !important;
	src: url('../css/fonts/Square.ttf') format('truetype');
}

@font-face {
	font-family: Multijoueur;
	src: url('../css/fonts/8-BIT WONDER.TTF') format('truetype');
}

.chat {
	font-family: Courier;
}